---
import {
  BackgroundImage,
  ImageSupportDetection,
} from "astro-imagetools/components";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

const res = await fetch("http://localhost:8000/wp-json/wp/v2/residences");
let posts = await res.json();

posts = await Promise.all(
  posts.map(async (post: any) => {
    const featuredMediaLink = post._links["wp:featuredmedia"][0].href;
    const mediaRes = await fetch(featuredMediaLink);
    const mediaData = await mediaRes.json();

    return {
      ...post,
      imageUrl: mediaData.source_url,
    };
  })
);
---

<Layout pageTitle="Home">
  <div
    class="sm:container flex flex-col items-center pb-4 md:pb-6 lg:pb-8 xl:pb-12 2xl:pb-14"
  >
    <div
      style={`background-image: url('/images/stavoren.png');`}
      class="w-full h-full bg-cover bg-center bg-no-repeat min-h-[25rem] sm:min-h-[30rem] md:min-h-[35rem] 2xl:min-h-[40rem] flex items-end justify-center text-white text-center max-w-[34.375rem]"
    >
      <h1 class="md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl px-2 sm:px-0">
        Hanzekop
      </h1>
    </div>
    <h1
      class="text-center md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl px-2
sm:px-0"
    >
      Holiday Homes
    </h1>
  </div>
  <div class="bg-white">
    <div class="container py-8 lg:py-6">
      <form
        action="/search"
        class="grid grid-cols-1 md:grid-cols-2 items-center xl:grid-cols-4 gap-8"
      >
        <div class="flex flex-col gap-3">
          <label for="checkin" class="font-medium">Check-in</label>
          <input
            type="date"
            id="checkin"
            name="checkin"
            class="border-dotted border-b border-black/20 pb-2 placeholder:text-black/50"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="checkout" class="font-medium">Check-out</label>
          <input
            type="date"
            id="checkout"
            name="checkout"
            class="border-dotted border-b border-black/20 pb-2 placeholder:text-black/50"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="guests" class="font-medium">Guests</label>
          <input
            type="number"
            id="guests"
            name="guests"
            placeholder="0"
            class="border-dotted border-b border-black/20 pb-2 placeholder:text-black/50"
          />
        </div>
        <button type="submit" class="button button--primary"
          >Check availability</button
        >
      </form>
    </div>
  </div>
  <section
    class="container flex flex-col gap-6 py-8 sm:gap-8 md:gap-12 lg:gap-14 xl:gap-16 md:py-10 lg:py-12 xl:py-16 2xl:py-24"
  >
    <h2 class="md:text-6xl lg:text-7xl xl:text-8xl">
      Find your rest in our holiday homes in Hanzestad, Stavoren.
    </h2>
    <div
      class="grid grid-cols-1 md:grid-cols-2 md:justify-between md:items-center gap-8 md:gap-16 lg:gap-20 xl:gap-24 2xl:gap-28"
    >
      <div
        class="flex flex-col gap-4 md:gap-5 xl:gap-6 font-light md:text-xl xl:text-2xl"
      >
        <p>
          Hanzekop provides you with a comfortable stay in the beautiful town of
          Stavoren. Our holiday homes are located in the centre of the town,
          close to the harbour and the IJsselmeer. The holiday homes are
          suitable for 2 to 6 people and are fully equipped.
        </p>
        <p>
          Stavoren is a beautiful town in the province of Friesland. The town is
          located on the IJsselmeer and is part of the municipality of Súdwest
          Fryslân.
        </p>
      </div>
      <p class="text-h4">
        Stavoren is the oldest of the eleven Frisian cities and is known for its
        rich history as a trading town. The town is also known for the legend of
        the Lady of Stavoren.
      </p>
    </div>
  </section>
  <section class="bg-primary-950 text-white">
    <div
      class="container flex flex-col gap-6 py-8 sm:gap-8 md:gap-12 lg:gap-14 xl:gap-16 md:py-10 lg:py-12 xl:py-16 2xl:py-24"
    >
      <h2 class="md:text-6xl lg:text-7xl xl:text-8xl">Our apartments</h2>
      <div class="swiper">
        <div class="swiper-wrapper">
          {
            posts.map((post: any) => (
              <div class="swiper-slide flex flex-col gap-6 sm:gap-8 md:gap-10 lg:gap-12 xl:gap-16">
                <a href={`/residences/${post.slug}`}>
                  <Image
                    src={post.imageUrl}
                    alt={post.title.rendered}
                    width={1000}
                    height={600}
                    class="w-full h-full object-cover"
                  />
                </a>
                <div class="flex flex-col gap-2">
                  <a
                    href={`/residences/${post.slug}`}
                    class="self-start pb-2 after:bg-black after:w-full after:h-1"
                  >
                    <h3>{post.title.rendered}</h3>
                  </a>
                  <div set:html={post.excerpt.rendered} />
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .swiper-slide {
    opacity: 0.5;
    transform: scale(0.8);
    transition:
      transform 0.3s,
      opacity 0.3s;
  }

  .swiper-slide-active {
    opacity: 1;
    transform: scale(1);
  }
</style>

<script>
  import Swiper from "swiper";

  const swiper = new Swiper(".swiper", {
    centeredSlides: true,
    slidesPerView: 1,
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });

  swiper.init();
</script>
